*{
	margin: 0px;
}

body{
	background-color: #07575b;
}

#container{
	width: 80%;
	margin: 0px auto;
}

header{
	height: 100px;
	width: 100%;
	background: #68829E;
	text-align: center;
	font: 150% sans-serif;
	color: white;
}
nav ul li {
	float: left;
	color: white;
	margin: 15px;
	line-height: 25px;
}
a{
	color: black;
}
nav{
	height: 50px;
	background: #599234;
	padding-left: 18%;
}
.art{
	font: 150% sans-serif;
	color: black;
}
.divider{
	clear: both;
}
#content{
	font: 150% sans-serif;
	float: left;
	width: 100%;
	min-height: 400px;
	line-height: 45px;
	background-color: #AEBD38
}

aside{
	float: left;
	background-color: #505160;
	width: 40%;
	min-height: 400px;
}

footer{
	line-height: 35px;
	text-align: center;
	background-color: #599234;
	
}